  *{
      margin: 0;/*tira margin automatica*/
      padding: 0;/*tira o paddin automatico*/
      font-family: "Roboto", sans-serif;/*fonte global*/
      box-sizing: border-box;/*nao deixa o conteudo o paddin aumentar o tamanho caixa pra fora*/
  }
  
  
  body{
    text-align: center;/*centraliza todo conteudo da pagina*/
    background-color: #121214;
    background-image: url(./assets/bg.svg);
    background-repeat:no-repeat; /*não deixa repetir a imagem*/
    background-size: cover;/* mantem a posição do background como cover*/
    background-position: center 55.6%;/* eixo x depois y*/
   
  }
  
  main{
    width: 100%; /* encaixa o conteudo na caixa*/
    margin: 52px auto; /*sentido horario*/
  }
  
  header{
    margin-bottom: 63px;/*espaço a abaixo*/
  }
  
  ul{
    list-style: none;/*tira os pontinhos da lista*/
  }

  #cards{
    /* border: 1px solid red;
    width: 100%;
    display: flex;
    padding: 0 20px;
    gap:30px;
    flex-wrap: wrap;/*faz a quebra de linha*/  
    
    display: grid; /*display em grade*/
    justify-items: center;/*coloca os cads no centro*/
    gap:30px; /*espaço entre os cards */
    grid-template-columns: repeat(auto-fit, minmax(333.94px, 1fr)); /*grade de cads se repetindo em fraçoes */
  } 

/*usado para refatorar o codigo para diminuição de codigo e melhora de performece*/
  :root{ /*variavel que pode ser adicionada em qualquer parte do codigo*/
    --border-card:solid #f7dd43;
  }
 
  .card{
    max-width: 333.94px; /*apartir desse numero faz a quebra de linha*/ 
    padding: 32px;
    text-align: center;
    background: #1d1c19;
    border-bottom: 2px var(--border-card);
    border-radius: 6px;/*arredonda a pagina*/
    margin-bottom: 32px;
    opacity: 0;
    animation: oqVcQuiser 1.5s forwards;
  }
 
  .card:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
  }
  .card h2 { 
    display: flex;/*libera a utilização do gab e align-items:*/
    gap: 16px; /*espaço entre a data e o dia da semana */
    align-items: center;/*centraliza os itens*/
    padding: 8px 16px;
    border: 1px solid #746615;
    border-radius: 6px;
    width: fit-content;/*se encaixa ao conteudo */
    margin-inline: auto; /*margin em linha*/
    margin-bottom: 53px;
    color:#f7dd43;
  }
  /*ia comentar tudo mas desisti se vira pra entender*/
  .card h2 span {
    color: #e1e1e6;
    font-size: 14px;
    text-transform: uppercase;
  }
  
  .card ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 270px;
  }
  
  .card ul li  {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .card ul + ul{
    padding-top: 24px;
    margin-top: 30px;
    border-top: 1px solid #323238;
  }
  
  .card ul li strong {
    font-weight: 900;
    font-size: 36px;
    line-height: 125%;
    color: #E1E1E6 ;
  }

  /*animação*/

  @keyframes oqVcQuiser{
    0% {
      transform: translateY(-200px);
      opacity: 0;
    }

    50%{
      opacity: 0;
    }
  
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }

